<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.moechat.android" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".application.moeapplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MoeTheme" >
        <activity
            android:name=".activity.Activity_splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Activity_main" >
            <intent-filter>
                <action android:name=".activity.Activity_main" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Activity_login">
            <intent-filter>
                <action android:name=".activity.Activity_login" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Activity_next">
            <intent-filter>
                <action android:name=".activity.Activity_next" />
            </intent-filter>
        </activity>
    </application>

</manifest>
